<mat-card>
    <mat-card-title>Novo Cliente</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="customer.name" name="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Idade" [(ngModel)]="customer.age" name="age">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Endereço" [(ngModel)]="customer.address" name="address">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Telefone" [(ngModel)]="customer.phone" name="phone">
        </mat-form-field>
    </form>

    <button mat-raised-button (click)="createCustomer()" color="primary">
        Salvar
    </button>

    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>